<!DOCTYPE html>
<html>
  <head>
    <title>NiceKicks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="l-box">
  <div>
    <%= link_to "All Sneakers", sneakers_path %> |
    <%= link_to "All Brands", brands_path %> |
    <%= link_to "Create a New Brand", new_brand_path %> |
    <% if !logged_in? %>
    <%= button_to "Log in with Google", "/auth/google_oauth2" %>
    <% else %>
    <%= link_to "Logout", logout_path, method: 'delete' %>

    <% end %>
  </div>
  

  <div><%= flash[:message]%></div>
    <%= yield %>
  </body>
</html>
