<!DOCTYPE html>
<html>
  <head>
    <title>NiceKicks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  </head>

  <body class="container-fluid bg-secondary bg-gradient w-50 text-center badge font-monospace fs-1">
  <div>
    <%= link_to "All Sneakers", sneakers_path, class: "btn btn-primary"%> 
    <%= link_to "Create a New Sneaker", new_sneaker_path, class: "btn btn-primary" %>  
    <%= link_to "All Brands", brands_path, class: "btn btn-primary" %> 
    
  </div>
  

  <body>
    <%= yield %>
  </body>
</html>
